<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.airplanereservationsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CancelReservation"
            android:parentActivityName=".CancelReservationDisplay"></activity>
        <activity android:name=".CancelReservationDisplay"
            android:parentActivityName=".MainScreen"/>
        <activity android:name=".LoginCancelReservation"
            android:parentActivityName=".MainScreen"/>
        <activity
            android:name=".LoginManageSystem"
            android:parentActivityName=".MainScreen" />
        <activity
            android:name=".ManageSystem"
            android:parentActivityName=".MainScreen" />
        <activity
            android:name=".TransactionDisplay"
            android:parentActivityName=".ManageSystem" />
        <activity
            android:name=".LoginReserveSeat"
            android:parentActivityName=".SearchFlights" />
        <activity
            android:name=".ReserveSeat"
            android:parentActivityName=".SearchFlights" />
        <activity
            android:name=".SearchFlights"
            android:parentActivityName=".MainScreen" />
        <activity
            android:name=".FlightDisplay"
            android:parentActivityName=".ManageSystem" />
        <activity
            android:name=".CreateFlight"
            android:parentActivityName=".FlightDisplay" />
        <activity
            android:name=".CreateAccount"
            android:parentActivityName=".MainScreen" />
        <activity android:name=".MainScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>